<h2>Create your silly sassy word list!</h2>

<% @list.each do |word| %>
  <p><%= word.name %></p>
<% end %>

<h4>Add a silly word to the list, and then add a fun definition!</h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
