<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FUN Word List for Kids!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="<%= url("/styles.css")%>" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/logo.png">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
      Add a word to the list!
      </div>
        <%= yield %>
    </div>
  </body>
</html>
