<h2>List of FUN SILLY words</h2>

<% @list.each do |word| %>
  <h4><a href="/words/<%= word.id %>"><%= word.name %></a></h4>
<% end %>

<h4>Add a FUN word to the list:</h4>

<form action="/" method="post">
  <div class="form-group">
    <label for="name">Word</label>
    <input id="name" name="name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
