<h1><%= @word.name %></h1>

<ul>
  <% @word.definition.each do |definition| %>
    <li><%= definition %></li>
  <% end %>
</ul>

<div class="container">
  <div class="row">
    <form action="/word/<%= @word.id %>" method="post">
      <div class="form-group">
        <label for="definition">Defintion</label>
        <input id="definition" name="definition" class="form-control" type="text">
      </div>
      <button type="submit" class="btn btn-info">Define!</button>
    </form>
  </div>
  <div class="row">
  <br>
    <form class="form-inline" method="get" action="/">
      <button type="submit" class="btn btn-default" name="clear_btn">Back</button>
    </form>

  </div>
</div>
